*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



html a {
	font-family: 'Raleway', serif !important;
	font-size: 0.9em;
	color: #3F3D46 ;
	text-decoration: none !important;
}

html a:hover {
	color: #286090;
}

nav {
	letter-spacing: 0.05em !important;
	font-size: 16px !important;
	padding-top: 10px;
	margin-left: -60px;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;	
}

.header-tag {
	padding-top: 15px;
	
	text-align: center;
	display: block;
	font-size: 15px;
	letter-spacing: 0.05em;
	font-size: 20px;
	color: #0EB9C8;
}

.header-comment {
	border-top: 2px solid #F3F3F3;
	font-size: 15px;
	color: #3F3D46;
	max-width: 560px;
	padding: 20px;
	margin: 20px auto 0px;
	text-align: center;
}

.copyright {
	border-top: 1px solid #E1E1E1;
	font-size: 12px;
	color: #565054;
	max-width: 400px;
	padding-top: 10px;
	margin: 5px auto 0px;
	text-align: center;
}

nav ul {
	list-style-type: none;
}

.button {
	background: #0EB9C8 none repeat scroll 0% 0% ;
	color: #FFF !important;
	border-radius: 3px;
	padding: 10px 20px !important;
	font-weight: bold !important;
	letter-spacing: 0.05em;
	display: inline-block;
	border-width: medium medium 2px;
	/*border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #0CA3B0;*/
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.menu-button {

	right: 10px;
	top: 10px;
	position: fixed;
	cursor: pointer;
	padding: 5px 10px 10px 10px;
	display: inline-block;

}

@media only screen and ( max-width: 600px){
	nav ul li {
	display: block;
	text-align: center;
	margin-right: -10px;	
	padding-top: 12px;
	margin: 2px 5px 5px;
	padding-left: 12px;
	}
	.button {
		margin-left: 15px;
		margin-top: 15px !important;
	}

	html a {
		font-family: 'Raleway', serif !important;
		font-size: 1.5em;
		color: #3F3D46 ;
		text-decoration: none !important;
	}

	html a:hover {
		color: #3F3D46;
	}

	.header-tag {
		padding-top: 50px;
	}



}
